name: Linter

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby ${{ matrix.ruby-version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.4
    - name: Build
      run: |
        bundle config --global ignore_messages true
        gem install bundler
        bundle install --jobs 4 --retry 3
    - name: Rubocop
      run: |
        bundle exec rubocop
